packages:
  yum:
    mod_ssl: []
container_commands:
  add-SSLCertificateFile-label:
    command: cp .ebextensions/hfdvhssvc01vmitgcorpusshldcorpcom.crt /home/ec2-user/hfdvhssvc01vmitgcorpusshldcorpcom.crt

  add-SSLCertificateFile-label:
    command: cp .ebextensions/hfqahspasvc1vmitgcorpusshldcorpcom.crt /home/ec2-user/hfqahspasvc1vmitgcorpusshldcorpcom.crt

  replace-ssl-configuration-label:
    command: cp .ebextensions/ssl.conf /etc/httpd/conf.d/ssl.conf